/*COLOR SCHEME
343F4B
89D2DC
F1E3F3
028090
01172F
*/

/*FONTS
Gochi+Hand|Kaushan+Script|Open+Sans|Nova+Mono
*/

/*GLOBAL -------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans', Sans-serif;
    margin: 0;
    width: 100%;
}
/*HEADER-----------------------------------------------------------*/
header{
    background: url(Resources/images/tech3.jpg) fixed;
    background-position: -135px -120px;
    font-family: 'Nova mono'
}

.intro {
    background: linear-gradient(rgba(52,63,75, 0.7), rgba(1,23,47, 0.6));
}

/*NAVIGATION*/
nav{
    width: 100%;
   text-align: center;
   background: #E1F2FE;
   position: fixed;

}

nav a {
    display: inline-block;
    padding: 2px 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

ul {
    padding-left: 0;
    margin: 2px;
}

/*HEAD*/
h1, h2 {
    text-align: center;
    font-family: 'Gochi hand';
    margin-top: 0;
    margin-bottom: 0;
    color: #89D2DC;
}

img{
    width: 50%;
    margin-left: 25%;
    border-radius: 50%;
    margin-top: 80px;
}

header p {
    font-family: 'Nova Mono';
    font-weight: 400;
    letter-spacing: 1px;
    padding: 20px;
    color: #F4E8C1;
}

/*MAIN-------------------------------------------------*/
main {
    padding:20px;
}

main h2{
    padding: 10px;
}

main h3{
    font-family: nova mono;
    margin-bottom: 5px;
    margin-top: 25px
}

main p{
    margin-top: 5px;
}
/*PROJECT SECTION*/
#projects ul{
    list-style: none;
    color: #89D2DC;
    font-weight: bold;
}

#projects ul li{
    text-align: center;
    margin: 10px;
    padding: 60px;
    background: #343F4B;
    border-radius: 10px;
}



/*FOOTER------------------------------------------------*/
footer {
    text-align: center;
}

footer a {
    font-size: 30px;
    color: black;
    padding: 4px;
}

footer h2 {
    margin-bottom: 6px;
}

footer p{
    font-size: 10px;
}
